# Database configuration URL (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/chronoiks_ai

# JWT security key for API gateway auth authentication
SECRET_KEY=chronoiks_super_secret_key

# Model config settings (true/false)
USE_NLLB=true

# Experiment tracking configs
MLFLOW_TRACKING_URI=http://localhost:5000
WANDB_API_KEY=
